@CHARSET "UTF-8";
										/* 目录页 */
.table1{
	width:100%;
	color:red;
}
.table1 td{
	height:30px;
}
.table1 a{
	color:red;
}

										/* 第二章 */
.img1{
	width:70%;
	margin-top: 5px;
	margin-bottom: 5px;
} 
.div2{
	margin-right:10px;
}
ul{
	list-style-type: square;
}
li{
	margin-left:40px;
}
li span{
	height:20px;
	vertical-align:text-bottom;
	display:inline-block;
}
.div2{
	margin-right:10px;
	line-height:30px;
}
